// Body
$body-bg: #f8fafc;
$detail-color: #fbba4f;
$primary: #025b8e;
$primary-light: #0B8BD6;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
