// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.highlight {
	background: linear-gradient(90deg, #FFE273,$detail-color);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	// height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



table {
    background: white;

    tr:hover {
        background: $primary-light;
        transition: 0.5s;
    }

    thead {
        background: $primary;
        color: $body-bg;
    }
}

.form-group {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    select {
        margin-right: 5px;
        width: 200px;
    }
}



.validate-error {
    color: red;
    margin-left: 10px;
}

.card-header {
    background: $primary;
    color: $body-bg;
}

#marks {
    margin-top: 20px;
    padding: 10px 10px;
}
